<a href="https://colab.research.google.com/github/alok-nag-iitk/Data-Analysis/blob/main/Survey_Monkey_Transformation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os

In [7]:
data = pd.read_excel('/Data - Survey Monkey Output.xlsx', sheet_name= 'output')

In [8]:
data

     Respondent ID-  ... Question 30-Response 3
0        5379192392  ...                    NaN
1        2658722536  ...               Answer 1
2        4044163394  ...                    NaN
3        5535865599  ...               Answer 6
4        3356802928  ...               Answer 8
..              ...  ...                    ...
193      7940065082  ...               Answer 8
194      5157705612  ...               Answer 6
195      9920755555  ...                    NaN
196      6638341389  ...                    NaN
197      8114622230  ...                    NaN

[198 rows x 100 columns]

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 100 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   Respondent ID-                                                               198 non-null    int64
 1   Start Date-                                                                  198 non-null    datetime64[ns]
 2   End Date-                                                                    198 non-null    datetime64[ns]
 3   Email Address-                                                               0 non-null      float64
 4   First Name-                                                                  0 non-null      float64
 5   Last Name-                                                                   0 non-null      float64
 6   Custom Data 1-                                                               0 non-null      float64
 7   Identify which division you work in.-Response                                197 non-null    object
 8   Identify which division you work in.-Other (please specify)                  2 non-null      object
 9   Which of the following best describes your position level?-Response          196 non-null    object
 10  Which generation are you apart of?-Response                                  196 non-null    object
 11  Please select the gender in which you identify.-Response                     196 non-null    object
 12  Which duration range best aligns with your tenure at your company?-Response  198 non-null    object
 13  Which of the following best describes your employment type?-Response         198 non-null    object
 14  Question 1-Response                                                          119 non-null    object
 15  Question 2-Response                                                          118 non-null    object
 16  Question 3-Open-Ended Response                                               117 non-null    object
 17  Question 4-Response                                                          116 non-null    object
 18  Question 4-Other (please specify)                                            104 non-null    object
 19  Question 5-Response 1                                                        118 non-null    object
 20  Question 5-Response 2                                                        112 non-null    object
 21  Question 5-Response 3                                                        109 non-null    object
 22  Question 5-Response 4                                                        112 non-null    object
 23  Question 5-Response 5                                                        111 non-null    object
 24  Question 5-Response 6                                                        114 non-null    object
 25  Question 6-Response 1                                                        116 non-null    object
 26  Question 6-Response 2                                                        104 non-null    object
 27  Question 6-Response 3                                                        116 non-null    object
 28  Question 6-Response 4                                                        105 non-null    object
 29  Question 6-Response 5                                                        116 non-null    object
 30  Question 6-Response 6                                                        107 non-null    object
 31  Question 7-Response 1                                                        118 non-null    object
 32  Question 7-Unscheduled                                                       119 non-null    object
 33  Question 8-Response 1                                                        117 non-null    object
 34  Question 8-Response 2                                                        115 non-null    object
 35  Question 8-Response 3                                                        110 non-null    object
 36  Question 8-Response 4                                                        104 non-null    object
 37  Question 9-Response 1                                                        121 non-null    object
 38  Question 9-Response 2                                                        113 non-null    object
 39  Question 9-Response 3                                                        108 non-null    object
 40  Question 9-Response 4                                                        111 non-null    object
 41  Question 10-Response 1                                                       113 non-null    object
 42  Question 10-Response 2                                                       117 non-null    object
 43  Question 10-Response 3                                                       123 non-null    object
 44  Question 10-Response 4                                                       107 non-null    object
 45  Question 10-Response 5                                                       125 non-null    object
 46  Question 11-Reponse 1                                                        122 non-null    object
 47  Question 11-Response 2                                                       117 non-null    object
 48  Question 12-Response                                                         114 non-null    object
 49  Question 13-Response                                                         108 non-null    object
 50  Question 14-Response                                                         105 non-null    object
 51  Question 15-Response                                                         114 non-null    object
 52  Question 16-Response                                                         117 non-null    object
 53  Question 17-Response                                                         135 non-null    object
 54  Question 18-Response                                                         109 non-null    object
 55  Question 19-Response                                                         119 non-null    object
 56  Question 19-Other (please specify)                                           107 non-null    object
 57  Question 20-Response                                                         105 non-null    object
 58  Question 21-Response                                                         127 non-null    object
 59  Question 22-Reponse 1                                                        107 non-null    object
 60  Question 22-Reponse 2                                                        107 non-null    object
 61  Question 23-Response                                                         120 non-null    object
 62  Question 24-Response 1                                                       111 non-null    object
 63  Question 24-Response 2                                                       110 non-null    object
 64  Question 24-Response 3                                                       105 non-null    object
 65  Question 24-Response 4                                                       107 non-null    object
 66  Question 24-Response 5                                                       111 non-null    object
 67  Question 25-Response 1                                                       105 non-null    object
 68  Question 25-Response 2                                                       102 non-null    object
 69  Question 25-Response 3                                                       107 non-null    object
 70  Question 25-Response 4                                                       113 non-null    object
 71  Question 25-Response 5                                                       106 non-null    object
 72  Question 25-Response 6                                                       116 non-null    object
 73  Question 25-Response 7                                                       107 non-null    object
 74  Question 25-Response 8                                                       108 non-null    object
 75  Question 25-Response 9                                                       106 non-null    object
 76  Question 26-Response 1                                                       100 non-null    object
 77  Question 26-Response 2                                                       119 non-null    object
 78  Question 26-Response 3                                                       107 non-null    object
 79  Question 26-Response 4                                                       110 non-null    object
 80  Question 27-Response 1                                                       106 non-null    object
 81  Question 27-Response 2                                                       105 non-null    object
 82  Question 28-Response                                                         119 non-null    object
 83  Question 29-Response 1                                                       120 non-null    object
 84  Question 29-Response 2                                                       112 non-null    object
 85  Question 29-Response 3                                                       108 non-null    object
 86  Question 29-Response 4                                                       114 non-null    object
 87  Question 29-Response 5                                                       107 non-null    object
 88  Question 29-Response 6                                                       115 non-null    object
 89  Question 29-Response 7                                                       112 non-null    object
 90  Question 29-Response 8                                                       113 non-null    object
 91  Question 29-Response 9                                                       123 non-null    object
 92  Question 29-Response 10                                                      106 non-null    object
 93  Question 29-Response 11                                                      115 non-null    object
 94  Question 29-Response 12                                                      103 non-null    object
 95  Question 29-Response 13                                                      120 non-null    object
 96  Question 29-Response 14                                                      116 non-null    object
 97  Question 30-Response 1                                                       103 non-null    object
 98  Question 30-Response 2                                                       117 non-null    object
 99  Question 30-Response 3                                                       112 non-null    object
dtypes: datetime64[ns](2), float64(4), int64(1), object(93)
memory usage: 154.8+ KB

In [11]:
df = data.copy()

In [12]:
df.columns

Index(['Respondent ID-', 'Start Date-', 'End Date-', 'Email Address-',
       'First Name-', 'Last Name-', 'Custom Data 1-',
       'Identify which division you work in.-Response',
       'Identify which division you work in.-Other (please specify)',
       'Which of the following best describes your position level?-Response',
       'Which generation are you apart of?-Response',
       'Please select the gender in which you identify.-Response',
       'Which duration range best aligns with your tenure at your company?-Response',
       'Which of the following best describes your employment type?-Response',
       'Question 1-Response', 'Question 2-Response',
       'Question 3-Open-Ended Response', 'Question 4-Response',
       'Question 4-Other (please specify)', 'Question 5-Response 1',
       'Question 5-Response 2', 'Question 5-Response 3',
       'Question 5-Response 4', 'Question 5-Response 5',
       'Question 5-Response 6', 'Question 6-Response 1',
       'Question 6-Response 2', 'Question 6-Response 3',
       'Question 6-Response 4', 'Question 6-Response 5',
       'Question 6-Response 6', 'Question 7-Response 1',
       'Question 7-Unscheduled', 'Question 8-Response 1',
       'Question 8-Response 2', 'Question 8-Response 3',
       'Question 8-Response 4', 'Question 9-Response 1',
       'Question 9-Response 2', 'Question 9-Response 3',
       'Question 9-Response 4', 'Question 10-Response 1',
       'Question 10-Response 2', 'Question 10-Response 3',
       'Question 10-Response 4', 'Question 10-Response 5',
       'Question 11-Reponse 1', 'Question 11-Response 2',
       'Question 12-Response', 'Question 13-Response', 'Question 14-Response',
       'Question 15-Response', 'Question 16-Response', 'Question 17-Response',
       'Question 18-Response', 'Question 19-Response',
       'Question 19-Other (please specify)', 'Question 20-Response',
       'Question 21-Response', 'Question 22-Reponse 1',
       'Question 22-Reponse 2', 'Question 23-Response',
       'Question 24-Response 1', 'Question 24-Response 2',
       'Question 24-Response 3', 'Question 24-Response 4',
       'Question 24-Response 5', 'Question 25-Response 1',
       'Question 25-Response 2', 'Question 25-Response 3',
       'Question 25-Response 4', 'Question 25-Response 5',
       'Question 25-Response 6', 'Question 25-Response 7',
       'Question 25-Response 8', 'Question 25-Response 9',
       'Question 26-Response 1', 'Question 26-Response 2',
       'Question 26-Response 3', 'Question 26-Response 4',
       'Question 27-Response 1', 'Question 27-Response 2',
       'Question 28-Response', 'Question 29-Response 1',
       'Question 29-Response 2', 'Question 29-Response 3',
       'Question 29-Response 4', 'Question 29-Response 5',
       'Question 29-Response 6', 'Question 29-Response 7',
       'Question 29-Response 8', 'Question 29-Response 9',
       'Question 29-Response 10', 'Question 29-Response 11',
       'Question 29-Response 12', 'Question 29-Response 13',
       'Question 29-Response 14', 'Question 30-Response 1',
       'Question 30-Response 2', 'Question 30-Response 3'],
      dtype='object')

In [13]:
drop_columns = ['Start Date-', 'End Date-', 'Email Address-',
       'First Name-', 'Last Name-', 'Custom Data 1-']

In [14]:
df.drop(columns= drop_columns, inplace=True)

In [16]:
df

     Respondent ID-  ... Question 30-Response 3
0        5379192392  ...                    NaN
1        2658722536  ...               Answer 1
2        4044163394  ...                    NaN
3        5535865599  ...               Answer 6
4        3356802928  ...               Answer 8
..              ...  ...                    ...
193      7940065082  ...               Answer 8
194      5157705612  ...               Answer 6
195      9920755555  ...                    NaN
196      6638341389  ...                    NaN
197      8114622230  ...                    NaN

[198 rows x 94 columns]

In [17]:
help(df.melt)

Help on method melt in module pandas.core.frame:

melt(id_vars=None, value_vars=None, var_name=None, value_name='value', col_level=None, ignore_index=True) -> 'DataFrame' method of pandas.core.frame.DataFrame instance
    Unpivot a DataFrame from wide to long format, optionally leaving identifiers set.

    This function is useful to massage a DataFrame into a format where one
    or more columns are identifier variables (`id_vars`), while all other
    columns, considered measured variables (`value_vars`), are "unpivoted" to
    the row axis, leaving just two non-identifier columns, 'variable' and
    'value'.

    .. versionadded:: 0.20.0

    Parameters
    ----------
    id_vars : tuple, list, or ndarray, optional
        Column(s) to use as identifier variables.
    value_vars : tuple, list, or ndarray, optional
        Column(s) to unpivot. If not specified, uses all columns that
        are not set as `id_vars`.
    var_name : scalar
        Name to use for the 'variable' column. If None it uses
        ``frame.columns.name`` or 'variable'.
    value_name : scalar, default 'value'
        Name to use for the 'value' column.
    col_level : int or str, optional
        If columns are a MultiIndex then use this level to melt.
    ignore_index : bool, default True
        If True, original index is ignored. If False, the original index is retained.
        Index labels will be repeated as necessary.

        .. versionadded:: 1.1.0

    Returns
    -------
    DataFrame
        Unpivoted DataFrame.

    See Also
    --------
    melt : Identical method.
    pivot_table : Create a spreadsheet-style pivot table as a DataFrame.
    DataFrame.pivot : Return reshaped DataFrame organized
        by given index / column values.
    DataFrame.explode : Explode a DataFrame from list-like
            columns to long format.

    Examples
    --------
    >>> df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
    ...                    'B': {0: 1, 1: 3, 2: 5},
    ...                    'C': {0: 2, 1: 4, 2: 6}})
    >>> df
       A  B  C
    0  a  1  2
    1  b  3  4
    2  c  5  6

    >>> df.melt(id_vars=['A'], value_vars=['B'])
       A variable  value
    0  a        B      1
    1  b        B      3
    2  c        B      5

    >>> df.melt(id_vars=['A'], value_vars=['B', 'C'])
       A variable  value
    0  a        B      1
    1  b        B      3
    2  c        B      5
    3  a        C      2
    4  b        C      4
    5  c        C      6

    The names of 'variable' and 'value' columns can be customized:

    >>> df.melt(id_vars=['A'], value_vars=['B'],
    ...         var_name='myVarname', value_name='myValname')
       A myVarname  myValname
    0  a         B          1
    1  b         B          3
    2  c         B          5

    Original index values can be kept around:

    >>> df.melt(id_vars=['A'], value_vars=['B', 'C'], ignore_index=False)
       A variable  value
    0  a        B      1
    1  b        B      3
    2  c        B      5
    0  a        C      2
    1  b        C      4
    2  c        C      6

    If you have multi-index columns:

    >>> df.columns = [list('ABC'), list('DEF')]
    >>> df
       A  B  C
       D  E  F
    0  a  1  2
    1  b  3  4
    2  c  5  6

    >>> df.melt(col_level=0, id_vars=['A'], value_vars=['B'])
       A variable  value
    0  a        B      1
    1  b        B      3
    2  c        B      5

    >>> df.melt(id_vars=[('A', 'D')], value_vars=[('B', 'E')])
      (A, D) variable_0 variable_1  value
    0      a          B          E      1
    1      b          B          E      3
    2      c          B          E      5

In [19]:
id_variables = list(df.columns[:8])

In [20]:
value_variables = list(df.columns[8:])

In [21]:
value_variables

['Question 1-Response',
 'Question 2-Response',
 'Question 3-Open-Ended Response',
 'Question 4-Response',
 'Question 4-Other (please specify)',
 'Question 5-Response 1',
 'Question 5-Response 2',
 'Question 5-Response 3',
 'Question 5-Response 4',
 'Question 5-Response 5',
 'Question 5-Response 6',
 'Question 6-Response 1',
 'Question 6-Response 2',
 'Question 6-Response 3',
 'Question 6-Response 4',
 'Question 6-Response 5',
 'Question 6-Response 6',
 'Question 7-Response 1',
 'Question 7-Unscheduled',
 'Question 8-Response 1',
 'Question 8-Response 2',
 'Question 8-Response 3',
 'Question 8-Response 4',
 'Question 9-Response 1',
 'Question 9-Response 2',
 'Question 9-Response 3',
 'Question 9-Response 4',
 'Question 10-Response 1',
 'Question 10-Response 2',
 'Question 10-Response 3',
 'Question 10-Response 4',
 'Question 10-Response 5',
 'Question 11-Reponse 1',
 'Question 11-Response 2',
 'Question 12-Response',
 'Question 13-Response',
 'Question 14-Response',
 'Question 15-Response',
 'Question 16-Response',
 'Question 17-Response',
 'Question 18-Response',
 'Question 19-Response',
 'Question 19-Other (please specify)',
 'Question 20-Response',
 'Question 21-Response',
 'Question 22-Reponse 1',
 'Question 22-Reponse 2',
 'Question 23-Response',
 'Question 24-Response 1',
 'Question 24-Response 2',
 'Question 24-Response 3',
 'Question 24-Response 4',
 'Question 24-Response 5',
 'Question 25-Response 1',
 'Question 25-Response 2',
 'Question 25-Response 3',
 'Question 25-Response 4',
 'Question 25-Response 5',
 'Question 25-Response 6',
 'Question 25-Response 7',
 'Question 25-Response 8',
 'Question 25-Response 9',
 'Question 26-Response 1',
 'Question 26-Response 2',
 'Question 26-Response 3',
 'Question 26-Response 4',
 'Question 27-Response 1',
 'Question 27-Response 2',
 'Question 28-Response',
 'Question 29-Response 1',
 'Question 29-Response 2',
 'Question 29-Response 3',
 'Question 29-Response 4',
 'Question 29-Response 5',
 'Question 29-Response 6',
 'Question 29-Response 7',
 'Question 29-Response 8',
 'Question 29-Response 9',
 'Question 29-Response 10',
 'Question 29-Response 11',
 'Question 29-Response 12',
 'Question 29-Response 13',
 'Question 29-Response 14',
 'Question 30-Response 1',
 'Question 30-Response 2',
 'Question 30-Response 3']

In [22]:
id_variables

['Respondent ID-',
 'Identify which division you work in.-Response',
 'Identify which division you work in.-Other (please specify)',
 'Which of the following best describes your position level?-Response',
 'Which generation are you apart of?-Response',
 'Please select the gender in which you identify.-Response',
 'Which duration range best aligns with your tenure at your company?-Response',
 'Which of the following best describes your employment type?-Response']

In [26]:
df_melted = df.melt(id_vars= id_variables , value_vars=value_variables, var_name=  = 'question + subquestion', value_name='Answer' )

SyntaxError: ignored

In [27]:
df_melted

       Respondent ID-  ...     value
0          5379192392  ...       NaN
1          2658722536  ...  Answer 4
2          4044163394  ...  Answer 5
3          5535865599  ...  Answer 1
4          3356802928  ...       NaN
...               ...  ...       ...
17023      7940065082  ...  Answer 8
17024      5157705612  ...  Answer 6
17025      9920755555  ...       NaN
17026      6638341389  ...       NaN
17027      8114622230  ...       NaN

[17028 rows x 10 columns]